

<div class="app__container">
	<div class="sidebar">
	  <%= render template: "channels/index.html.erb" %>
    </div>
<div class="content">
	<%= render template: "messages/index.html.erb" %>
</div>
</div>